@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    @include font-main;
    background-color: $color2;
}

a {
    color: $color2;
    transition: all 0.2s ease-in;

    &:hover {
        color: $color1;
    }
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 1700px;
    color: $color2;
    height: 81px;

    &--sm {
        width: 1280px;
    }
}

.visually-hidden {
    height: 1px;
    overflow: hidden;
    width: 1px;
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    white-space: nowrap;
}

.title-2 {
    color: $navigation;
    font-weight: bold;
    font-size: 40px;
}
