// Fonts
@mixin font-main {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}

// Colors
$color1: #FF7143;
$color2: #FFFFFF;
$navigation: #000000;

//Media
$tablet: 999px;
$big: 1920px


